<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SIG Diamantados</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
<nav class="navbar navbar-expand-lg">
  <!-- <a class="navbar-brand" href="#"><%= image_tag("diamond_s.png") %> SIG Diamantados </a> -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag ('diamond_s.png') %>
      SIG Diamantados
    <% end %>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home</a> -->
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Produtos</a> -->
        <%= link_to "Produtos", produtos_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Sobre</a> -->
        <%= link_to "Sobre", sobre_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Contato</a> -->
        <%= link_to "Contato", contato_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>    
    <%= yield %>
<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> -->

<!-- Footer -->
<footer class="footer page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Endereço</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-home mr-3"></i> Rua Belford Duarte, 870 </p>
              <p>Cep. 04375-000 - SP</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope"></i> contato@sigdiamantados.com.br</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +55 11 99757 2346</p>
          </li>
          <!-- <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Acompanhe</h5>

        <!-- Facebook -->
        <a type="button" class="social btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="social btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Direitos Reservados: SIG Diamantados
    <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
